.fifth-div-container {
    background-color: black;
    color: white;
    border: 2px solid rgba(85, 128, 233, 0.1);
    padding: 5rem;
}

.resume {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.resume-link {
    background-color: #5AB8EB;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    color: black;
    margin: 0 auto;
    font-size: 1rem;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .fifth-div-container {
        background-color: black;
        color: white;
        border: 2px solid rgba(85, 128, 233, 0.1);
        padding: 1rem;
    }
    
    .resume {
        display: inline-block;
        margin-right: 2rem;
        font-size: 1.5rem;
    }
}