@media only screen and (min-width: 700px) {
    .third-div-container {
        background-color: black;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5rem;
        border: 2px solid rgba(85, 128, 233, 0.1);
    }
    
    .third-div-container > div {
        flex: 0.5;
    }
 
    /* .skill {
        background-color: #5AB8EB;
        padding: 0.3rem 1rem;
        border-radius: 20px;
        width: fit-content;
        height: fit-content;
        color: black;
        margin: 0 auto;
        font-size: 1rem;
    }
    
    .skill-container {
        display: flex;
        margin: 1.5rem 0;
    }

    .skills-list {
        margin-left: 4rem;
    } */

    .skills-list-container {
        display: flex;
        justify-content: space-around;
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 700px) {
    .third-div-container {
        background-color: black;
        color: white;
        padding: 2rem;
        border: 2px solid rgba(85, 128, 233, 0.1);
    }

    .third-div-container > div {
        margin-bottom: 2rem;
    }
    
    /* .skill {
        background-color: #5AB8EB;
        padding: 0.3rem 1rem;
        border-radius: 20px;
        width: fit-content;
        height: fit-content;
        color: black;
        margin: 0 auto;
        font-size: 1rem;
    }
    
    .skill-container {
        display: flex;
        margin: 1.5rem 0;
    } */
}

.skills-list-container > ul > li::marker {
    color: rgba(136, 96, 208, 1);
    font-size: 1.4rem;
}