.world-citizen-container {
    padding: 5rem;
    color: white;
    background-color: black;
}

.card-container {
    border: 2px solid rgba(136, 96, 208, 1);
    width: 25rem;
    padding: 0 1.5rem;
    background-color: rgba(65, 63, 67, 0.65);
    padding-bottom: 2rem;
    margin: 3rem 0;
}

.card-container > p, .card-container > h4 {
    background-color: rgba(65, 63, 67, 0);
}

h4 {
    color: rgba(136, 96, 208, 1);
    font-size: 1rem;
    margin-top: 2rem;
}

.card-para {
    font-size: 1rem;
}

h3 {
    font-size: 1.4rem;
    margin: 1rem 0;
    margin-top: 3rem;
}

.list-container {
    margin-bottom: 5rem;
}

.list-container > li {
    margin: 0.7rem 0;
}

.list-container > li::marker {
    color: rgba(136, 96, 208, 1);
    font-size: 1.4rem;
}

.fi-prototypes {
    margin-top: 3rem;
}

.recreation-images-container {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
}

.behance-link {
    text-decoration-line: none;
}

.ordinary-image-container {
    width: 80%;
    margin: 2rem auto;
}

.ordinary-image-container > img {
    max-width: 100%;
}

@media only screen and (max-width: 700px) {
    .world-citizen-container {
        padding: 1rem;
    }

    .recreation-images-container {
        display: block;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .recreation-images-container > div {
        margin-bottom: 3rem;
    }
}